<extend name='Public/admin/content' />
<block name="content">
  <div class="row">
    <div class="col-lg-6">
      <table class="layui-box layui-table" lay-even lay-skin="line">
        <colgroup>
          <col width="30%">
          <col>
        </colgroup>
        <thead>
        <tr>
          <th class="text-left" colspan="2">系统信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Think.Admin 版本</td>
          <td>{:sysconf('app_version')}</td>
        </tr>
        <tr>
          <td>ThinkPHP 版本</td>
          <td>{$Think.const.THINK_VERSION}</td>
        </tr>
        <tr>
          <td>服务器操作系统</td>
          <td>{:php_uname('s')}</td>
        </tr>
        <tr>
          <td>WEB运行环境</td>
          <td>apache2handler</td>
        </tr>
        <tr>
          <td>MySQL数据库版本</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>运行PHP版本</td>
          <td>5.6.31</td>
        </tr>
        <tr>
          <td>上传大小限制</td>
          <td>2M</td>
        </tr>
        <tr>
          <td>POST大小限制</td>
          <td>8M</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="layui-box layui-table" lay-even lay-skin="line">
        <colgroup>
          <col width="150">
          <col>
        </colgroup>
        <tbody>
        <tr>
          <td>产品名称</td>
          <td>浙江工商大学国教学院预约平台后台管理系统</td>
        </tr>
        <tr>
          <td>产品研发</td>
          <td>李俊君 </td>
        </tr>
        <tr>
          <td>产品体验</td>
          <td>
            <a target="_blank" href="https://appoint.applinzi.com/admin">https://appoint.applinzi.com/admin</a>
          </td>
        </tr>

        <tr>
          <td>使用说明</td>
          <td>
            <a target="_blank" href="https://docs.qq.com/doc/DYk5CdmN5UWRVd1p2">https://docs.qq.com/doc/DYk5CdmN5UWRVd1p2</a>

          </td>
        </tr>

        <tr>
          <td>联系我</td>
          <td>
            <img data-tips-image="{$vo.avatar|default='__PUBLIC__/wechat_lijj.jpg'}"  class="img-thumbnail m-t-xs img-responsive" src="{$vo.avatar|default='__PUBLIC__/wechat_lijj.jpg'}" style="max-height: 60px; max-width: 60px;" />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</block>