<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

  <div class="layui-form-item">
    <label class="layui-form-label">用户姓名</label>
    <div class="layui-input-block">
      <if condition="$info and ($info.name)">
        <input readonly="readonly" disabled="disabled" name="name" value='{$info.name|default=""}'
               required="required" title="请输入用户名称" placeholder="请输入用户名称" class="layui-input layui-disabled">
        <else/>
        <input name="name" value='{$info.name|default=""}' required="required" pattern="^.{4,}$"
               title="请输入用户名称" placeholder="请输入4位及以上字符用户名称" class="layui-input">
      </if>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">护照</label>
    <div class="layui-input-block">
      <if condition="$info and ($info.passport)">
        <input readonly="readonly" disabled="disabled" name="name" value='{$info.passport|default=""}'
               required="required" title="请输入用护照" placeholder="请输入用户护照" class="layui-input layui-disabled">
        <else/>
        <input name="passport" value='{$info.passport|default=""}' required="required"
               title="请输入用护照" placeholder="" class="layui-input">
      </if>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男" <if condition="!($info.sex) OR $info.sex eq '男'"> checked</if> >
      <input type="radio" name="sex" value="女" title="女" <if condition="!($info.sex) OR $info.sex eq '女'"> checked</if> >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">国籍</label>
    <div class="layui-input-block">
      <input type="text"  name="country" value='{$info.country|default=""}'  title="请输入国籍" placeholder="请输入国籍，注意名称规范" class="layui-input ">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">学院</label>
    <div class="layui-input-block">
      <input type="text"  name="college" value='{$info.college|default=""}'  title="请输入学院" placeholder="请输入学院名称，注意名称规范" class="layui-input ">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">专业</label>
    <div class="layui-input-block">
      <input type="text"  name="profession" value='{$info.profession|default=""}'  title="请输入专业" placeholder="请输入专业名称，注意名称规范" class="layui-input ">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">班级</label>
    <div class="layui-input-block">
      <input type="text"  name="class" value='{$info.class|default=""}'  title="请输入班级" placeholder="请输入班级名称，注意名称规范" class="layui-input ">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">学号</label>
    <div class="layui-input-block">
      <input type="text"  name="number" value='{$info.number|default=""}'  title="请输入班级" placeholder="请输入学号" class="layui-input ">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">入学时间</label>
    <div class="layui-input-block">
      <input type="text"  name="entry_year" value='{$info.entry_year|default=""}'  title="请输入入学时间" placeholder="请输入入学时间" class="layui-input ">
    </div>
  </div>

  <if condition="isset($info['id'])"><input type='hidden' value='{$info.id}' name='id'/></if>
</form>
